<main class="container">
    <div class="row col-10 col-sm-8 col-md-6 col-lg-4 mx-auto mt-3">

        <form novalidate class="validation"  th:action="@{/admin/typeArmure/update}" th:object="${typeArmure}" method="post">
            <h2 class="mb-4">Modification d'une armure</h2>

            <!-- Input pour l'id de l'armure -->
            <input readonly required type="hidden" name="id" th:field="${typeArmure.id}">

            <!-- Input pour le nom de l'armure -->
            <div class="mb-3">
                <label for="nom" class="form-label">Nom de l'armure</label>
                <input required minlength="3" maxlength="255" type="text" class="form-control" id="nom" name="nom"  th:field="${typeArmure.nom}">
            </div>

            <!-- Input pour le bonus de l'armure -->
            <div class="mb-3">
                <label for="bonusType" class="form-label">Bonus de l'armure</label>
                <input required min="0" max="99" type="number" class="form-control" id="bonusType" name="bonusType" th:field="${typeArmure.bonusType}">
            </div>

            <!-- Bouton de soumission -->
            <button type="submit" class="btn btn-primary">Modifier</button>
        </form>
    </div>
</main>
