<!DOCTYPE html>
<html lang="fr">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="vh-100">
    <nav th:replace="mesFragments :: fragNav"></nav>
    <div th:replace="mesFragments :: fragFlashSuccess"></div>
    <main class="container">
        <div class="row col-10 col-sm-8 col-md-6 col-lg-4 mx-auto mt-3">

            <form novalidate class="validation"  th:action="@{/admin/Armure}" th:object="${nouvelleArmure}" method="post">
                <h2 class="mb-4">Ajouter une Armure</h2>

                <!-- Input pour le nom de l'armure -->
                <div class="mb-3">
                    <label for="nom" class="form-label">Nom de la Armure</label>
                    <input required minlength="3" maxlength="255" type="text" class="form-control" id="nom" name="nom"  th:field="${nouvelleArmure.nom}">
                </div>

                <!-- Input pour la description de l'armure -->
                <div class="mb-3">
                    <label for="description" class="form-label">Description de l'Armure</label>
                    <input required minlength="3" maxlength="255" type="text" class="form-control" id="description" name="nom"  th:field="${nouvelleArmure.description}">
                </div>

                <!-- Input pour le cheminImage de l'armure -->
                <div class="mb-3">
                    <label for="cheminImage" class="form-label">Bonus de la Qualité</label>
                    <input required min="0" max="99" type="number" class="form-control" id="cheminImage" name="cheminImage" th:field="${nouvelleArmure.cheminImage}">
                </div>

                <!-- Select pour la qualité de l'accessoire -->
                <label for="qualite" class="form-label">Qualité</label>
                <select class="form-select" id="qualite" th:field="${nouvelleArmure.qualite.id}">
                    <option th:each="uneQualite : ${qualites}" th:value="${uneQualite.id}" th:text="${uneQualite.nom}"></option>
                </select>

                <!-- Select pour le type de l'accessoire -->
                <label for="typeArmure" class="form-label">Type d'Armure</label>
                <select class="form-select" id="typeArmure" th:field="${nouvelleArmure.typeArmure.id}">
                    <option th:each="unTypeArmure : ${typeArmures}" th:value="${unTypeArmure.id}" th:text="${unTypeArmure.nom}"></option>
                </select>

                <!-- Bouton de soumission -->
                <button type="submit" class="btn btn-primary">Ajouter</button>
            </form>
        </div>
    </main>

</div>
<footer th:replace="mesFragments :: fragFooter"></footer>
<script src="/js/validation.js"></script>

</body>
</html>
