<!DOCTYPE html>
<html lang="fr">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <title>Les types d'armes</title>
</head>
<body>
<div class="vh-100">
    <nav th:replace="mesFragments :: fragNav"></nav>
    <main class="container">
        <h1>Gestion des Types d'arme</h1>
        <div>
            <a th:href="@{'/admin/TypeArme/create'}" class="btn btn-success">
                Ajouter un type d'arme
            </a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>nombre de dés</th>
                <th>valeur dé Max</th>
                <th>multiplicateur Critique</th>
                <th>activation Critique</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="unTypeArme : ${typearme}">
                <td th:text="${unTypeArme.nom}"></td>
                <td th:text="${unTypeArme.nombreDes}"></td>
                <td th:text="${unTypeArme.valeurDeMax}"></td>
                <td th:text="${unTypeArme.multiplicateurCritique}"></td>
                <td th:text="${unTypeArme.activationCritique}"></td>
                <td class="d-flex">
                    <a th:href="@{'/admin/TypeArme/'+${unTypeArme.id}+'/edit'}" class="btn btn-warning">
                        Modifier
                    </a>
                    <a th:href="@{'/admin/TypeArme/'+${unTypeArme.id}}" class="btn btn-primary">
                        Consulter
                    </a>
                    <div>
                        <form th:action="@{'/admin/TypeArme/delete'}" method="post">
                            <input type="hidden" name="id" th:value="${unTypeArme.id}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
<footer th:replace="mesFragments :: fragFooter"></footer>
</body>
</html>