<!DOCTYPE html>
<html lang="fr">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="vh-100">
    <nav th:replace="mesFragments :: fragNav"></nav>
    <main class="container">
        <h1>Gestion des Types d'accessoires</h1>
        <div >
            <a th:href="@{'/admin/TypeAccessoire/create'}" class="btn btn-success">
                <button class="btn btn-danger">Ajouter un type d'accessoire</button>
            </a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="unTypeAccessoire : ${typeAccessoires}">
                <td th:text="${unTypeAccessoire.nom}"></td>
                <td th:text="${unTypeAccessoire.typeBonus}"></td>
                <td class="d-flex">
                    <a th:href="@{'/admin/TypeAccessoire/'+${unTypeAccessoire.id}+'/edit'}" class="btn btn-warning">
                       Modifier
                    </a>
                    <a th:href="@{'/admin/TypeAccessoire/'+${unTypeAccessoire.id}}" class="btn btn-primary">
                       Consulter
                    </a>
                    <div>
                        <form th:action="@{'/admin/TypeAccessoire/delete'}" method="post">
                            <input type="hidden" name="id" th:value="${unTypeAccessoire.id}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
<footer th:replace="mesFragments :: fragFooter"></footer>
</body>
</html>