<!DOCTYPE html>
<html lang="fr">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="vh-100">
    <nav th:replace="mesFragments :: fragNav"></nav>
    <main class="container">
        <h1 th:style="${'type:'+typeAccessoires.typeBonus}" th:text="'typeAccessoire'+${typeAccessoires.nom}"></h1>
        <ul>
            <li th:text="'Nom : '+ ${typeAccessoires.nom}"></li>
            <li th:text="'Type : '+${typeAccessoires.typeBonus}"></li>
        </ul>
    </main>
</div>
<footer th:replace="mesFragments :: fragFooter"></footer>
</body>
</html>