<!DOCTYPE html>
<html lang="fr">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="vh-100">
    <nav th:replace="mesFragments :: fragNav"></nav>
    <main class="container">
        <h1>Gestion des Accessoires</h1>
        <div >
            <a th:href="@{'/admin/Accessoire/create'}" class="btn btn-success">
                <button class="btn btn-danger">Ajouter un accessoire</button>
            </a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Chemin d'Image</th>
                <th>Qualité</th>
                <th>Type d'Accessoire</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="unAccessoire : ${accessoires}">
                <td th:text="${unAccessoire.nom}"></td>
                <td th:text="${unAccessoire.description}"></td>
                <td th:text="${unAccessoire.cheminImage}"></td>
                <td th:text="${unAccessoire.qualite}"></td>
                <td th:text="${unAccessoire.typeAccessoire}"></td>
                <td class="d-flex">
                    <a th:href="@{'/admin/Accessoire/'+${unAccessoire.id}+'/edit'}" class="btn btn-warning">
                        Modifier
                    </a>
                    <a th:href="@{'/admin/Accessoire/'+${unAccessoire.id}}" class="btn btn-primary">
                        Consulter
                    </a>
                    <div>
                        <form th:action="@{'/admin/Accessoire/delete'}" method="post">
                            <input type="hidden" name="id" th:value="${unAccessoire.id}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
<footer th:replace="mesFragments :: fragFooter"></footer>
</body>
</html>