<!DOCTYPE html>
<html lang="fr">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="vh-100">
    <nav th:replace="mesFragments :: fragNav"></nav>
    <main class="container">
        <h1 th:text="'accessoire'+${accessoires.nom}"></h1>
        <ul>
            <li th:text="'Nom : '+ ${accessoires.nom}"></li>
            <li th:text="'Description : '+${accessoires.description}"></li>
            <li th:text="'Chemin Image : '+${accessoires.cheminImage}"></li>
            <li th:text="'Qualite : '+${accessoires.qualite.nom}"></li>
            <li th:text="'Type Accessoire : '+${accessoires.typeAccessoire.nom}"></li>
        </ul>
    </main>
</div>
<footer th:replace="mesFragments :: fragFooter"></footer>
</body>
</html>