<!DOCTYPE html>
<html lang="fr">
<head th:replace="mesFragments :: fragHead">
    <meta charset="UTF-8">
    <title>Les types d'armes</title>
</head>
<body>
<div class="vh-100">
    <nav th:replace="mesFragments :: fragNav"></nav>
<main class="container">
    <div class="row col-10 col-sm-8 col-md-6 col-lg-4 mx-auto mt-3">

        <form novalidate class="validation"  th:action="@{/admin/TypeArme/update}" th:object="${arme}" method="post">
            <h2 class="mb-4">Modification d'une Arme</h2>
            <!-- Input pour l'id du type d'arme -->
            <input readonly required type="hidden" name="id" th:field="${arme.id}">
            <!-- Input pour le nom du type d'arme -->
            <div class="mb-3">
                <label for="nom" class="form-label">Nom de l'arme</label>
                <input required minlength="3" maxlength="255" type="text" class="form-control" id="nom" name="nom"  th:field="${arme.nom}">
            </div>

            <!-- Input pour la description de l'arme-->
            <div class="mb-3">
                <label for="description" class="form-label">description de l'arme  </label>
                <input required minlength="3" maxlength="255" type="text" class="form-control" id="description" name="description"   th:field="${arme.description}">
            </div>

            <!-- Input pour le chemin image  -->
            <div class="mb-3">
                <label for="cheminImage" class="form-label">chemin image</label>
                <input required minlength="3" maxlength="255" type="text" class="form-control" id="cheminImage" name="cheminImage" th:field="${arme.cheminImage}">
            </div>

            <!-- Input pour la qualité de l'arme  -->
            <div class="mb-3">
                <label for="qualite" class="form-label">Qualité de l'arme</label>
                <input required min="1" max="10" type="number" class="form-control" id="qualite" name="qualite" th:field="${arme.qualite}">
            </div>

            <!-- Input pour le type d'arme-->
            <div class="mb-3">
                <label for="typeArme" class="form-label">Type de l'arme</label>
                <input required min="1" max="20" type="number" class="form-control" id="typeArme" name="typeArme" th:field="${arme.typeArme}">
            </div>
            <!-- Bouton de soumission -->
            <button type="submit" class="btn btn-primary">Modifier</button>
        </form>
    </div>
</main>
</div>
<footer th:replace="mesFragments :: fragFooter"></footer>
</body>
</html>
